.Bigcontentbox {

    background-color: white;
    padding: 1.5rem;
    border-radius: 20px;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    width: 60% !important;
    margin-bottom: 1rem;
}

.contentboxs {
    display: flex;
    align-items: center;
}

.boxcontents {
    margin-left: 1.5rem;
}

.addresss {
    width: 20rem;
}

.Bigcontentbox p {
    margin-top: 0;
    margin-bottom: 0.3rem;
}

.boxcontents {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media only screen and (max-width: 1023px) {
    .Bigcontentbox {

        background-color: white;
        padding: 1.5rem;
        border-radius: 20px;
        width: fit-content;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);        width: 100% !important;
        margin-bottom: 1rem;
    }
    
}

@media screen and (max-width: 500px) {
    .Bigcontentbox {
        width: fit-content;
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .Bigcontentbox h4 {
        margin-bottom: 0;
    }

   

    .addresss {
        width: auto
    }

    .boxcontents {
        display: block;
    }
}
